@model Author

<h2><label for="Name">Name</label></h2>
<h4><label for="Id">Id</label></h4>
<h4><label for="Date of birth">Date of birth</label></h4>

<h4>Id: @Model.Id</h4>
<h4>Date of birth: @Model.DateOfBirth</h4>
<h4>Name: @Model.Name</h4>

@Html.Partial("Separator");
